<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <h3>ComingUp <i class="fa fa-angle-double-right" aria-hidden="true"></i></h3>
  <% end %>



  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <div class="">
      <%= render "shared/export" %>
    </div>

    <!-- Button (call-to-action) -->
    <div class="save-filters-form-container">
      <%= render "shared/save_preferences_form", selected_categories: @selected_categories, selected_sub_categories: @selected_sub_categories %>
    </div>

    <!-- Different navigation if login or not -->
    <% if user_signed_in? %>

      <!-- Profile picture and dropdown -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <% avatar_url = current_user.picture_url || "http://cdn.patch.com/assets/contrib/images/placeholder-user-photo.png" %>
          <%= image_tag avatar_url, class: "avatar-large dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>

          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">

            <li>
              <%= link_to new_event_path, "data-toggle" => "modal", "data-target" => "#modal-window" do %>
                <i class="fa fa-plus" aria-hidden="true"></i></i>
                <%= t(".profile", default: " Ajouter une Actu") %>
              <% end %>
            </li>


            <li>
              <%= link_to  "#modal_export", "data-toggle" => "modal"  do %>
                <i class="fa fa-calendar-plus-o" aria-hidden="true"></i>
                <%= t(".profile", default: " S'abonner à l'Agenda") %>
              <% end %>

            </li>


            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>
                <%= t(".sign_out", default: " Déconnexion") %>
              <% end %>
            </li>

          </ul>
        </div>
      </div>

    <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>

    <% end %>


  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="https://coming-up.herokuapp.com/">Home</a></li>
        <li><%= link_to destroy_user_session_path method: :delete do %>
            <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Modal -->

<div class="modal fade" id="modal-window" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Contribuez à l’agenda Coming-Up !</h4><br>
        <p class="text-center modal-description"><span class="larger">Vous pouvez à tout moment nous proposer une nouvelle actualité <span class="yellow-font">à venir</span></span>.<br> Nos équipes éditoriales vous indiqueront sous 48 heures si votre actualité a été validée.<br>Merci pour votre contribution !</p>
      </div>

      <div class="modal-body">

         <%= simple_form_for( Event.new ) do |form| %>
            <%= form.input :occurs_at, as: :string, label: "Quand ?", input_html: { class: 'datepicker', placeholder: "30/03/2017" } %>
            <%= form.input :headline, label: "Quelle actualité ne faut-il pas manquer ?", placeholder: "Demo Day Batch #59 au Wagon " %>
            <%= form.association :sub_category, label: "A quel sujet ?", prompt: "High-tech"  %>
            <%= form.input :description, label: "Dites-nous en plus", placeholder: "Les 22 étudiants de la saison #59 pitcheront leurs projets, codés pendant les 10 derniers jours des 9 semaines du programme Full Stack. Attention ça va envoyer du lourd !" %>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn-yellow" data-dismiss="modal">Retour</button>
            <%= form.button :submit, label: "Submit", placeholder: "Créer nouvel événement", class: "btn-yellow" %>
          <% end %>
        <!-- <button type="button" class="btn btn-primary">Send message</button> -->
      </div>
    </div>
  </div>
</div>




<!-- Export Modal -->
<div id="modal_export" class="modal fade" role="dialog">
<div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h4 class="modal-title">Sous quel format souhaitez-vous vous abonner ?</h4>
    <p class="text-center modal-description"><span class="larger">Vous pouvez à tout moment nous proposer une nouvelle actualité <span class="yellow-font">à venir</span></span>.<br> Nos équipes éditoriales vous indiqueront sous 48 heures si votre actualité a été validée.<br>Merci pour votre contribution !</p>
  </div>
  <div class="modal-body agenda_export">
  <i class="fa fa-google" aria-hidden="true"></i>
    <%= link_to " Ajouter à mon GoogleAgenda", "https://calendar.google.com/calendar/render?cid=#{sync_calendar_url(format: 'ics', token: current_user.calendar_token)}"  %>

  </div>
  <div class="modal-body agenda_export">
    <i class="fa fa-calendar-o" aria-hidden="true"></i>
    <%= link_to " Ajouter à mes autres agendas", "#{sync_calendar_url(format: 'ics', token: current_user.calendar_token)}"  %>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn-yellow" data-dismiss="modal">Fermer</button>
  </div>
</div>

</div>
</div>

