<%= link_to "New event", new_event_path, "data-toggle" => "modal", "data-target" => "#modal-window", :class => "btn btn-yellow" %>


<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="myModalLabel">New Event</h3>
  </div>
  <div class="modal-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 text-center grey-background">
          <h1>Create New Event</h1>
          <%= simple_form_for(event) do |form| %>
            <%= form.input :occurs_at, as: :string, label: "Date: ", input_html: { class: 'datepicker' } %>
            <%= form.input :headline %>
            <%= form.association :sub_category %>
            <%= form.input :description %>
            <%= form.button :submit %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Submit</button>
  </div>
</div>
