<%= render "shared/navbar", categories: @categories, sub_categories: @sub_categories %>

<div class="bg-blue margin-navbar">

  <div class="container">

    <div class="row category-bar">
      <%= render "categories/list", categories: @categories %>
    </div>
    <div class="row category-bar-dd ">
      <%= render "categories/dropdown", categories: @categories %>
    </div>
    <div class="sub-category-bar">
      <%= render "sub_categories/list", categories: @categories %>
    </div>
  </div>

  <div class="wrapper">
    <%= render "list", events: @hash %>
  </div>

</div>
