<div class="bg-blue">

  <div class="container">

    <div class="text-right">
      <%= form_tag save_filters_preferences_path, method: :post do %>
        <% @selected_categories.each do |category_name| %>
          <%= hidden_field_tag "categories[]", category_name %>
        <% end %>
        <% @selected_sub_categories.each do |sub_category_name| %> <!-- Check -->
          <%= hidden_field_tag "sub_categories[]", sub_category_name %>
        <% end %>
        <%= submit_tag "enregistrer la selection", :class => "btn-yellow small" %>
      <% end %>
    </div>

    <div class="row">
      <%= render "categories/list", categories: @categories %>
    </div>
    <div class="row">
      <%= render "categories/dropdown", categories: @categories %>
    </div>
    <div class="row">
      <%= render "sub_categories/list", categories: @categories %>
    </div>

  </div>

  <div class="wrapper">
    <%= render "list", events: @hash %>
  </div>

</div>
