<%= render "shared/navbar", selected_categories: @selected_categories, selected_sub_categories: @selected_sub_categories %>

<div class="margin-navbar">

    <div class="row category-bar">
      <%= render "categories/list", categories: @categories %>
    </div>
    <div class="row category-bar-dd">
      <%= render "categories/dropdown", categories: @categories %>
    </div>
    <div class="sub-category-bar">
      <%= render "sub_categories/list", categories: @categories%>
    </div>

  <div class="wrapper">
    <%= render "list", events: @hash %>
  </div>

</div>
