

<% content_for :meta_title, @event.occurs_at.strftime("%a %e %B") + " - " + @event.headline %>
<% content_for :meta_description, "Retrouver toute l'actualité à venir sur ComingUp                                                             " + @event.sub_category.name + " - " + @event.occurs_at.strftime("%a %e %B") + " - " + @event.headline %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title yellow-font" id="myModalLabel"><%= @event.sub_category.name %></h4>
      </div>
      <div class="modal-body">
        <wrapper class="text-center bg-blue">

          <h1><%= @event.occurs_at.strftime("%A %e %B") %></h1>
          <h3><%= @event.headline %></h3>
          <h4>sources: <%= @event.source %></h4>

        </wrapper>
      </div>
      <div class="modal-footer">
        <%= link_to root_path, class: "btn-yellow" %>
      </div>
    </div>
  </div>
</div>
